*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
#first{

}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;

}
.logo{
    float: left;
}
.search{
    float: left;
    margin-left: 100px;
    border: none;

}
.sear{
    width: 200px;
    height: 35px;
    padding: 10px;
    border-radius: 3px 0 0 3px;
    border: none;
    color: #000000;
    font-size: 20px;

}
.menu{

}
.menu ul{
    float: left;
    margin-top: 35px;

}
.menu ul li{
    list-style-type: none;
    float: left;
    padding: 5px;
    margin-bottom: 10px;

}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: grey;
    padding: 10px 15px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}
.menu ul li a:hover{
    color: #F5F5F5;
    background: #2B2B2B;
}

#second{
    background: url("images/d1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 200px 0;
    position: relative;

}
.content{
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
}
.content h2{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
.content p{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.section-top{
    text-align: center;
    padding-top: 50px;
}
.section-top h2{
    color: dimgrey;
    font-size: 40px;
    text-shadow: 1px 2px 1px black;
}
.section-top p{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}
#third{
    background-color: #F5F5F5;
}
.third-content{
    padding-top: 80px;
    text-align: center;
}
.third-content img{
    border-radius: 50%;
}
.third-content p{
    padding: 20px;
    text-align: justify;
}

#fourth{
    background-color: beige;
    /*height: 560px;*/

}
.fourth-top{
    text-align: center;
    padding-top: 30px;
}
.fourth-top h2{
    font-size: 40px;
    color: dimgrey;
}
.fourth-top p{
    font-size: 18px;
    padding-bottom: 40px;
}
.fourth{
    text-align: center;
}
.fourth h2{
    color: dimgray;


}
.fourth p{
    font-size: 16px;
    padding-bottom: 10px;
}

.fourth img{
    border-radius: 50%;

}
#five{
    background-color: #0e0e0e;
    color: #ffffff;

}
.five{

}
.five h4{
    font-size: 1.8em;
    font-weight: normal;
    padding-top: 40px;
    color: #F5F5F5;

}
.five p{
    color: grey;
    font-size: 13px;
    line-height: 24px;
}
.five a{
    color: #F5F5F5;
}
.five a:hover{
    color: #ffffff;
}

.form{
    width: 160px;
    height: 35px;
    padding: 10px;
    border-radius: 3px 0 0 3px;
    border: none;
    color: #000000;
}
.button{
    width: 50px;
    height: 35px;
    padding: 10px;
    margin-left: -3px;
    border-radius: 0 3px 3px 0;
    border: none;
}
.c{
    color: #ffffff;
}
#six {
    background-color: #000000;
    color: #ffffff;

}
.fmenu{
    margin: 0;
    padding: 0;
    float: right;
}
.fmenu ul{
    float: left;

}
.fmenu ul li{
    float: left;
    list-style-type: none;
    border-right: 1px solid grey;
    display: inline-block;
    padding: 0 8px;
    line-height: 13px;
    margin-top: 5px;

}
.fmenu ul li a{
    color: #F5F5F5;
}
/* SOCIAL ICONS - GENERAL */
.social { list-style:none;  width:464px; }
.social li { display:inline; float:left; background-repeat:no-repeat;}
.social li a { display:block; width:48px; height:48px; padding-right:10px; position:relative; text-decoration:none; }
.social li a strong { font-weight:normal; position:absolute; left:0; top:-1px; color:#fff; padding:3px; z-index:9999;
    text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75); background-color:rgba(0, 0, 0, 0.7);
    -moz-border-radius:3px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-border-radius:3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius:3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

li.facebook { background-image:url("images/f1.png"); }
li.linkedin { background-image:url("images/l1.png"); }
li.twitter { background-image:url("images/t1.png"); }
/* SOCIAL ICONS - CSS3 */
#css3:hover li { opacity:0.2; }

#css3 li { -webkit-transition-property: opacity; -webkit-transition-duration: 500ms;
    -moz-transition-property: opacity; -moz-transition-duration: 500ms; }
#css3 li a strong { opacity:0;
    -webkit-transition-property: opacity, top; -webkit-transition-duration: 500ms;
    -moz-transition-property: opacity, top; -moz-transition-duration: 500ms; }

#css3 li:hover { opacity:1; }
#css3 li:hover a strong { opacity:1; top:40px; }
.test{
    margin: 0;
    padding: 0;
;
}
.parallax-overlay{
     background: url("images/dot.png");
     width: 100%;
     position: absolute;
     overflow: hidden;
     height: 100%;
     top: 0;
     left: 0;
 }

.bmenu ul{
    float: left;
    margin-top: 35px;

}
.bmenu ul li{
    list-style-type: none;
    float: left;
    padding: 5px;
    margin-bottom: 10px;

}
.bmenu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: grey;
    padding: 10px 15px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    display: block;
}
.bmenu ul li a:hover{
    color: #F5F5F5;
    background: #2B2B2B;
}



