*{
    padding: 0;
    margin: 0;
}
#first{

}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;

}
.logo{
    float: left;
}
.search{
    float: left;
    padding: 5px;
    height: 20px;
    margin-left: 190px;
    border-radius: 5px;
    background: dimgrey;
}
.menu{

}
.menu ul{
    float: left;
    margin-top: 35px;

}
.menu ul li{
    list-style-type: none;
    float: left;
    padding: 5px;

}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding: 10px 15px;
    border-radius: 2px;
}
.menu ul li a:hover{
    color: #ffffff;
    background: #000000;
}
#sec2{
    background: url("image/1.jpg")no-repeat;
}